html, body {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

main.container {
  width: 60vw;
}

#nprogress .bar {
  background-color: #FDA314;
  height: 4px;
}

#nprogress .bar .peg {
  box-shadow:  0 0 10px #FDA314, 0 0 5px #FDA314;;
}